<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment-manager</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <span>Lady Lash</span>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Create Appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Manage Appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#business-hours">Business Hours</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact Us</a>
              </li>
              <li class="nav-item">
                {{#if logged_in}}
                <a class="nav-link" href="#" id="logout">Logout</a>
                {{else}}
                <a class="nav-link" href="/login">Login</a>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
</div>

<div class="card mb-3">
  <img class="card-img-top" src="http://i.imgur.com/I86rTVl.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

{{{body}}}

<div class="card text-center">
  <div id="contact-us" class="card-header">
    Contact Us
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Instagram</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  {{#if logged_in}}
    <script src="/js/logout.js" charset="utf-8"></script>
    <script type="text/javascript">
      if (window.location.pathname === "/api/users/login" || window.location.pathname === "/api/users/signup") {
        location.replace("/");
      }
    </script>
  {{/if}}
