<div class="row g-3">
        <div id="createService" class="col-md-4">
            <h2>New Lady Lash Service</h2>
            <form action="/api/service/create" method="post" class="form signup-form">
                <div class="form-group form-floating mb-3 col-4">
                  <a>Service Name:</a>
                  <input for="service-name" name="name" class="form-input form-control" type="text" id="service-name"/>
                </div>
                <div class="form-group form-floating mb-3 col-4">
                  <a>Description:</a>
                  <input for="service-description" name="description" class="form-input form-control" type="text" id="service-description" />
                </div>
                <label for="service-price">Price:</label>
                <div class="form-group form-floating mb-3 col-2">
                  <span class="input-group-text" id="inputGroupPrepend">$</span> 
                  <input name="price"  class="form-input form-control" type="text" id="service-price" />
                </div>
                <div class="form-group">
                  <button class="btn btn-outline-secondary" type="submit">Add service</button>
                </div>
            </form>
        </div>
    </div>