{{#if about_us}}
  <div class="card">
    <div id="about-us" class="card-header">
      <h3>About Us</h3>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
{{/if}}
<section>
  <div class="card">
    <div class="card-header">
      <h3>Services</h3>
    </div>
  </div>

  <div>
  {{#each services.services as |service|}}
   <span>
    <div class="card col-3">
      <div id="services" class="card-header card text-center ">
        <h3>{{name}}</h3>
      </div>
        <div class="row card text-center">
        <div class="">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Service Details</h5>
              <p class="card-text">Description: {{description}}</p>
              <p class="card-text">Regular Price: {{price}}</p>
              <p class="card-text">Special Price {{descounted_price}}*</p>
              <p class="card-text">*Offered after every five purchases.</p>
              <a href="/appointment" class="btn btn-primary">Make Appointment</a>
            </div>
          </div>
        </div>
      </div>  
   </div>
  </span>
{{/each}}
</div>
</section>
{{#if business_hours}}
  <div class="card">
    <div id="business-hours" class="card-header">
      <h3>Business Hours</h3>
      <h4>From Monday to Friday</h4>
      <h4>8:00am to 6:00pm</h4>
      <h4>We also have late nigth appointments, just ask!</h4>
    </div>
    <div class="card-body">
      <p class="card-text">Please follow us on Instagram!</p>
    </div>
  </div>
{{/if}}
