<div class="row">
        <div>
          <h2>Login</h2>
          <form class="form login-form">
            <div class="form-group form-floating mb-3 col-6">
              <label for="email-login">email:</label>
              <input class="form-input form-control" type="text" id="email-login" />
            </div>
            <div class="form-group form-floating mb-3 col-6">
              <label for="password-login">password:</label>
              <input class="form-input form-control" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>
        </div>
        
         <p>
            <br>
            <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Don't have an account? Signup here!
            </a>
         </p>
         <div class="collapse" id="collapseExample">
            <div id="signup">
                <h2>Sign up</h2>
                <form class="form signup-form">
                    <div class="form-group form-floating mb-3 col-6">
                      <label for="name-signup">name:</label>
                      <input class="form-input form-control" type="text" id="name-signup" />
                    </div>
                    <div class="form-group form-floating mb-3 col-6">
                      <label for="email-signup">email:</label>
                      <input class="form-input form-control" type="text" id="email-signup" />
                    </div>
                    <div class="form-group form-floating mb-3 col-6">
                      <label for="password-signup">password:</label>
                      <input class="form-input form-control" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">Signup</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

